Django>2
channels>2
channels_redis>2
mysqlclient
uwsgi
daphne
django-ratelimit>=1.1
celery
redis<3.4 # version 3.4 of redis currently has compatibility issues https://github.com/andymccurdy/redis-py/issues/1275
# testing
pytest-asyncio
pytest-django
