<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#c9222a" />

    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css" />

    <title>[MANAGE] {{meeting.name}} - DemocrApp</title>
  </head>
<body>
  <div class="container">
    <div class="column row">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>

<script src="/assets/vendor/jquery.min.js"></script>

{% block footerscripts %}
{% endblock %}

</html>