<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#c9222a" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/css/manage-style.css" />

    <title>[MANAGE] {{meeting.name}} - DemocrApp</title>
  </head>
<body>
  <div class="container">
    <div class="row justify-content-md-center" style="height: 100vh;">
      <div class="col">
        <div class="header">
            <img id='logo' src="/assets/img/EUTCredonwhite.png"></img>
            <h1>[MANAGE]</h1>
        </div>
        <div id="root">
          <div id="page">
            <!--
            This HTML file is a template.
            If you open it directly in the browser, you will see an empty page.
            -->
            {% block content %}
            {% endblock %}
          </div>
        </div>
        <div id="footer">
          <p>
            Created in the pursuit of simpler democracy. @rphi &amp; @saty9. <a href="https://github.com/EdinburghUniversityTheatreCompany/DemocrApp">GitHub</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.7"></script>

{% block footerscripts %}
{% endblock %}

</html>