{% extends 'meeting/_base.html' %}

{% load vote_helpers %}

{% block content %}

<h1>{{ vote.name }}</h1>

<div class="card">
  <h5 class="card-header">How many positions are available?</h5>
  <div class="col-md-6">
          <form action="{% url 'meeting/close_vote' meeting.id vote.id %}" method="post">
                {% csrf_token %}
                <div class="form-group m-1">
                    <input id="num_seats" name="num_seats" type="number">
                    <input type="submit" value="Submit" class="btn btn-primary m-1 align-right" >
                </div>
          </form>
  </div>
</div>

{% endblock %}

