{% extends 'meeting/_base.html' %}

{% load vote_helpers %}

{% block content %}
<h1>{{ meeting.name }}</h1>
<ol>
    {% for t_set in token_sets %}
        <li>{{ t_set.created_at }}</li>
    {% endfor %}
</ol>
<table>
    <tr>
        <td>name</td>
        <td>status</td>
        <td></td>
        <td></td>
    </tr>
    {% for vote in votes %}
        <tr>
            <td><a href="{% url 'meeting/manage_vote' meeting.id vote.id%}">{{vote.name}}</a></td>
        <td>{{vote.get_state_display}}</td>
        <td>{% vote_action_button vote %}</td>
        <td>{% vote_responses_or_remove vote csrf_token %}</td>
        </tr>
    {% endfor %}
</table>
<form action="{% url 'meeting/new_vote' meeting.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
<form action="{% url 'meeting/manage' meeting.id %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="type" value="create_token"/>
    <label for="proxy">voter has proxy?</label>
    <input type="checkbox" name="proxy"/>
    <input type="button" onclick="create_token()" value="create token" />
</form>
<input type="text" id="message_textbox">
<button type="button" id="announcement_submit" onclick="send_announcement()">announce</button>
{% endblock %}

{% block footerscripts %}
<script>
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function send_announcement() {
        var message = $('#message_textbox').val();
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.ajax({
            type:'POST',
            url: '{% url 'meeting/announcement' meeting.id %}',
            data: {
              'message': message
            },
            dataType: 'json',
            success: function (data) {
              if (data.result == "success") {
                $('#message_textbox').clear()
              }
            }
        });
    };

    function create_token() {
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.ajax({
            type:'POST',
            url: '{% url 'meeting/create_token' meeting.id %}',
            data: {
              'type': 'create_token',
              'proxy': $('[proxy]').is('checked')
            },
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (data.result == "success") {
                    window.open(data.print_url);
                }
            }
        });
    }
</script>
{% endblock %}
