{% load vote_helpers %}

<h1>{{ meeting.name }}</h1>
<ol>
    {% for t_set in token_sets %}
        <li>{{ t_set.created_at }}</li>
    {% endfor %}
</ol>
<table>
    <tr>
        <td>name</td>
        <td>status</td>
        <td></td>
        <td></td>
    </tr>
    {% for vote in votes %}
        <tr>
            <td><a href="{% url 'meeting/manage_vote' meeting.id vote.id%}">{{vote.name}}</a></td>
        <td>{{vote.get_state_display}}</td>
        <td>{% vote_action_button vote %}</td>
        <td>{% vote_responses_or_remove vote csrf_token %}</td>
        </tr>
    {% endfor %}
</table>
<form action="{% url 'meeting/new_vote' meeting.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
{# TODO(ISSUE TOKEN BUTTON) #}